
/* 푸터 */
footer {
  position:relative;
  width: 100%;
  height: 150px;
  background-color: rgb(240, 236, 236);
  color: rgb(83, 82, 82);
  bottom: 0;
  left: 0;
}
#footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_logo{
  margin-left: 200px;
  margin-top: 30px;

}
#vision {
  color: rgb(83, 82, 82);
  padding: 40px 0 0 10px;
}
#vision li {
  display: inline-block;
  margin-right: 10px;
}
#company_info {
  margin-right: 100px;
  margin-top: 20px;
  font-size: 12px;
}

#company_info #copyright {
  margin-top: 20px;
  font-size: 10px;
}
#engagement {
  margin-top: 30px;
  margin-left: 5px;
}
#engagement li {
  display: block;
  font-size: 11px;
  margin-top: 10px;
}
#vision a:link {
  color: rgb(83, 82, 82);
  text-decoration: none;
}

#vision a:visited {
  color: rgb(83, 82, 82);
  text-decoration: none;
}
#vision a:active {
  text-decoration: none;
}
#footer_fix {
  position: fixed;
  right: 30px;
  bottom: 10px;
}
#footer_fix li {
  height: 40px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  margin-left: 5px;
}
#footer_fix li img {
  width: 100%;
  height: 100%;
}