.order_info{
    margin-top: 100px;
    margin-bottom: 100px;
}
.order_zone_tit{
    font-size: 25px;
    margin-bottom: 30px;
}

.order_table_type table{
    width:100%; border:0; border-spacing:0; border-collapse:collapse; text-align:center;}

/* left type */

.order_table_type .table_left th{
    padding:15px 10px 14px 20px;  background:#f7f7f7; text-align:left; 
    border-bottom:1px solid #dbdbdb; font-size: 14px;}
.order_table_type .table_left td{
    height:30px; padding:12px 10px 11px 15px; text-align:left;
    font-family: 'Montserrat','noto sans kr', sans-serif;
    border-bottom:1px solid #dbdbdb;}
.order_table_type .table_left td input{
    height: 30px;
    width: 250px;
    border: solid 1px #999999;;
}
.order_table_type .table_left #emailDomain{
    height: 30px;
    width: 110px;
    font-size: 14px;
    border: solid 1px #999999;;
}
.delivery_info{
    margin-bottom: 100px;
}
.shipping_info_table .form_element li{
    display: inline-block;
    font-size: 15px;
    margin:0 30px 0 0
}
.shipping_info_table .form_element li input{

    width: 15px;
}
.shipping_info_table .member_address .btn_post_search{
    width: 100px;
    height: 25px;
    font-size: 13px;
}
/* --------- 결제수단 선택/결제 --------- */

.payment_progress_list{
    padding:10px 0 10px 0; border-top:1px solid #999999;}
.payment_progress_list dl{
    display:block; padding:20px 0 15px 0; font-size:0; border-bottom:1px solid #dbdbdb; vertical-align:top;}
.payment_progress_list dt{
    display:inline-block; width:180px; padding:0 0 0 24px; 
    font-size:14px; font-weight:bold; vertical-align:top; }
.payment_progress_list dd{
    display:inline-block; font-size:16px;}
.payment_progress_cont{}
/* 라디오 버튼  선택 */
.payment_progress .payment_progress_select{font-size:13px;}
.payment_progress .payment_progress_select li{display:inline-block; margin:0 30px 0 0; font-size:14px;}

.general_payment{}
.general_payment dd{min-width:520px;}
/* 무통장 입금 */
.pay_bankbook_box{margin:10px 0 0 0; padding:10px 0 0 0; border-top:1px dotted #dbdbdb;}
.pay_bankbook_box .form_element{width:100%;}
.pay_bankbook_box .pay_bankbook_txt{color:#777777; font-size: 13px}
.pay_bankbook_box ul{padding:10px 0 10px 0;}
.pay_bankbook_box ul li{padding:10px 0 10px 0;}
.pay_bankbook_box ul li strong{display:inline-block; width:70px;font-size: 13px;}
.pay_bankbook_box ul li select{width:350px; margin-top:-5px;}
#wrap .pay_bankbook_box .chosen-container{vertical-align:middle;}

/* 결제금액, 필수체크 */
.payment_final{margin:30px 0 0 0;}
.payment_final_total{padding:13px 46px 20px 0; border:2px solid #d6d6d6; text-align:right;}
.payment_final_total dl{display:inline-block; font-size:0;}
.payment_final_total dt{display:inline-block; padding:0 15px 0 0; font-size:14px; font-weight:bold;}
.payment_final_total dd{display:inline-block; font-size:25px; color:#e20009;}
.payment_final .payment_final_check{padding:30px 0 20px 0; text-align:center;}
.payment_final .payment_final_check{}
.payment_final .form_element label.check_s em b{color:#e20009;}

#totalSettlePriceView,
#totalGoodsPrice,
#totalSettlePrice {font-family: 'Montserrat','noto sans kr', sans-serif;}
.pay_buttons li img{
    width: 600px;
}
#pay_buttons li button{
    border: 0;
}
.order_end img{
    width: 450px;
    margin-left: 200px;
    margin-bottom: 60px;
}
section#right #end_buttons {
    margin:50px 0 100px 0;
    text-align:center;
}
section#right #end_buttons li img{
    width: 200px;
}